/******************************************\
                $CSS Reset
\******************************************/

/* basic elements */
body, html, section, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none; box-sizing: border-box;
}

body {
line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
padding: 0;
margin: 0 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ul, ol {
list-style: none;
}

a {
color: green;
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $Main
\******************************************/



html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: #E27989;
}

#board {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    /* relative to 3% of viewport height */
}

.box {
    /* w & h: n-times font-size of 'row' element */
    width: 0;
    height: 8em;
    border: 4px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: width 2s ease, height 2s ease, border 2s ease;
}

#two2 {
	width: 8em;
	height: 8em;
	border: 4px solid #DFE0B3;
}
/***********************************
Gets Rid of unecessary border lines
************************************/
#one1, #one2, #one3 {
	border-top: transparent;
}

#one1, #two1, #three1 {
	border-left: transparent;
}

#one3, #two3, #three3 {
	border-right: transparent;
}

#three1, #three2, #three3 {
	border-bottom: transparent;
}
/**********************************/
.markBox {
	width: inherit; /* same width as parent */
	height: inherit; /* same height as parent */
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: lightgreen;
	font-size: 300%;
	cursor: pointer;
	-moz-user-select: none; /* No text highlight */
	opacity: 0;
	transition: opacity 1s ease;
}

.greenX {
	color: lightgreen;
	opacity: 1; /* 'X' fades-in */
}

.blueO {
	color: lightblue;
	opacity: 1; /* 'O' fades-in */
}
